@import '../../App.scss';
.greating{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    .g-title{
        font-size: 45px;
        &:hover{
            color: $HoverColor;
        }
    }

    .g-subtitle{
        font-weight: 200;
    }
}