@import '../../../App.scss';
.post-img{
    max-width: 320px;
    max-height: 590px;
}
.post-container{
    position: relative;
    
}
.post{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background-gray{
    background-color: #1d1d1d !important;
    transition: all 1s ease;
}
.d{
    visibility: hidden !important;
}
.post-information{
    color: white;
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 30px;
}
.inform-link{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.inform-views{
    font-size: .8em;
    font-weight: 400;
}
.inform-name{
    color: $HoverColor;
}